* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient( to right, black 60%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0.233)80%, 
    rgba(0, 0, 0, 0.1)90%, rgba(0, 0, 0, 0.1)100%), url('/img/login-bg.jfif') no-repeat center center fixed;
    background-size: cover;
    color: white;
}
.nav .logo {
    text-decoration: none;
    margin: 3.9rem;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nav ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    margin: 5rem;
    margin-left: 0rem;

}

.nav ul li {
    list-style: none;
    display: flex;
    float: left;
}

main {
    margin: 4rem;
    margin-top: 0;
}

img {
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
    margin-top: 4px;
}

.glogo {
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-left: 2rem;
}

.flogo {
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-left: 1rem;
}

span {
    color: green;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.input-field {
    position: absolute;
}

.input-field2 {
    position: relative;
}

.input-field>input {
    width: 250px;
    height: 70px;
    border-radius: 2.2rem;
    font-size: 19px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: #000000;
    color: #fff;
    outline: none;

}

.input-field2>input {
    width: 521px;
    height: 70px;
    opacity: 0px;
    border-radius: 2.5rem;
    font-size: 19px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: #000000;
    color: #fff;
    outline: none;

}

#firstname {
    position: absolute;
    top: 5%;
    left: 27px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

#lastname {
    position: absolute;
    top: 4.5%;
    left: 19rem;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

#email {
    position: absolute;
    top: 7%;
    left: 37px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

#pass {
    position: absolute;
    top: 43%;
    left: 41px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

input:focus~#firstname {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #040404;
    border-radius: 10px;
}

input:focus~#lastname {
    position: absolute;
    top: 0;
    left: 54%;
    font-size: 16px;
    padding: 0 2px;
    border-radius: 10px;
    background: #000000;
}

input:focus~#email {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #000000;
    border-radius: 10px;
}

input:focus~#pass {
    position: absolute;
    top: 38%;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #000000;
    border-radius: 10px;
}